/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0; /* Increase the top and bottom padding for better alignment */
}

.nav-links {
    display: block; /* Initially display the navigation links as blocks */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;

    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #333;
    background-color: #fff;
}

.hero-content {
    text-align: center;
    padding: 100px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background-color: #555;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
    }

    header {
        text-align: left;
        padding: 10px 0; /* Adjust the header padding for mobile screens */
    }

    .nav-links {
        display: none; /* Initially hide the navigation links on smaller screens */
    }

    /* Styles for the mobile menu icon when active (clicked) */
    .mobile-menu.active .bar:first-child {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .mobile-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.active .bar:last-child {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}